version: "3.5"

services:
  directus:
    ports:
      - 8055:8055
    environment:
      VIRTUAL_HOST: "backend.myweathr.com"
      VIRTUAL_PORT: 8055
      LETSENCRYPT_HOST: "backend.myweathr.com"
      LETSENCRYPT_EMAIL: "mitssak@hotmail.com"
    networks:
      - directus
      - nginx-proxy

  next-app:
    container_name: fwm-next-app
    build:
      context: ./fwm-app
      dockerfile: prod.Dockerfile
      args:
        NEXT_PUBLIC_APP_BASE_URL: ${NEXT_PUBLIC_APP_BASE_URL}
        NEXT_PUBLIC_POSTHOG_KEY: ${NEXT_PUBLIC_POSTHOG_KEY}
        NEXT_PUBLIC_POSTHOG_HOST: ${NEXT_PUBLIC_POSTHOG_HOST}
        NEXT_PUBLIC_FORECAST_JSON_FOLDER: ${NEXT_PUBLIC_FORECAST_JSON_FOLDER}
        NEXT_PUBLIC_ASSETS_VERSION: ${NEXT_PUBLIC_ASSETS_VERSION}
    restart: always
    environment:
      VIRTUAL_HOST: "myweathr.com"
      VIRTUAL_PORT: 3000
      LETSENCRYPT_HOST: "myweathr.com"
      LETSENCRYPT_EMAIL: "mitssak@hotmail.com"
    ports:
      - 3000:3000
    networks:
      - nginx-proxy
  
  forecastmap-app:
    container_name: fwm-forecastmap
    build: ./fwm-forecastmap
    restart: unless-stopped
    environment:
      VIRTUAL_HOST: "forecastmap.myweathr.com"
      VIRTUAL_PORT: 80
      LETSENCRYPT_HOST: "forecastmap.myweathr.com"
      LETSENCRYPT_EMAIL: "mitssak@hotmail.com"
    ports:
      - 8502:80
    volumes:
      - ../fwm-forecastmap/dist:/usr/share/nginx/html
    networks:
      - nginx-proxy

networks:
  nginx-proxy:
    external:
      name: nginx-proxy
